[Desktop Entry]
Type=Application
Name=Reset
GenericName=Create product
Exec=sudo lxterminal --geometry=120x30 -e 'python3 /home/pi/reset.py'
Icon=/usr/share/icons/Adwaita/64x64/actions/system-reboot-symbolic.symbolic.png
Terminal=false
Categories=Development;Engineering;Electronics;
MimeType=text/reset
Keywords=production;reset
